body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.main-container {
    background-image: linear-gradient( to right, pink, rgb(202, 18, 193));
    text-align: center;
    margin: 40px;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 50px;
    border: 2px solid black;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 10px 8px #888888;
}
.score {
    display: flex;
    justify-content: center;
    column-gap: 2em;
    font-size: 30px;
}
.btn1 {
    background-color: blueviolet;
    color: white;
    padding: 5px;
}
.btn2 {
    background-color: rgb(231, 62, 62);
    color: white;
    padding: 5px;
}
.btn3 {
    background-color: red;
    color: white;
    padding: 5px;
}
.score-design {
    background-color: aliceblue;
    width: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.score-limit {
    display: none;
}
.score-limit li, a{
    text-decoration: none;
    list-style: none;
}
.sec2 {
    background-color: grey;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    box-shadow: 5px 10px 8px #888888
}
#racelimit {
    background-color: palevioletred;
    width: 60px;
    border: none;
    text-align: center;
}
form {
    margin: 10px;
}